footer{
    background: var(--background-secondary);
    margin-top: 6rem;
    padding: 1rem;
    text-align: center;
    border-top: 2px solid var(--border);
}
footer h2{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
}
footer p{
    max-width: 650px;
    margin: 0 auto 2rem;
    font-family: 'EB Garamond', serif;
    color: var(--text-secondary);
    line-height: 1.8;
}
div{
    margin-bottom: 1rem;
}
.footer-social{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}
.footer-social a{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    border-radius: 50%;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.4rem;
    transition: .3s;
}
.footer-social a:hover{
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    transform: translateY(-3px);
}
.copyright{
    font-size: .95rem;
    opacity: .8;
    margin-top: 2rem;
}
.btn-topo{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    margin-top: 1rem;
    color: var(--text-primary);
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    transition: .3s;
}
.btn-topo i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    border-radius: 50%;
    font-size: 1.1rem;
    transition: .3s;
}
.btn-topo:hover{
    color: var(--wine);
}

.btn-topo:hover i{
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    transform: translateY(-3px);
}

