main {
    padding: 5rem 8%;
}


main h1 {
    font-size: 2.0rem;
}

main h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--wine);
    margin: .5rem 0 1rem;
}

main p {
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--text-secondary);
    max-width: 650px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}

.hero-content {
    flex: 1;
}

.hero-links {
    display: flex;
    gap: 1.5rem;
    margin-top: 4rem;

}

.hero-links a {
    text-decoration: none;
    background: var(--primary);
    color: var(--white);
    padding: .5rem 1rem;
    border-radius: 10px;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.0rem;
    transition: .3s;
    text-shadow: 2px 2px 4px rgba(13, 13, 13, 0.51)
}


.hero-img {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-img img {
    width: 280px;
    border-radius: 50px;
}

.hero-social {
    display: flex;
    gap: 1.5rem;
    margin-top: 6rem;
}

.hero-social a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border);
    border-radius: 50%;
    color: var(--text-primary);
    text-decoration: none;
    font-size: 1.4rem;
    transition: .3s;
}

.hero-social a:hover {
    background: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

.sobre {
    padding: 6rem 0;
}

.sobre h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3rem;
    color: var(--text-primary);
    margin-bottom: 1.5rem;
}

.sobre p {
    font-family: 'EB Garamond', serif;
    font-size: 1.3rem;
    line-height: 1.8;
    color: var(--text-secondary);
    max-width: 700px;
}

.sobre h2::after {
    content: "";
    display: block;
    width: 90px;
    height: 3px;
    background: var(--border);
    margin-top: .5rem;
}

hr {
    border: none;
    height: 2px;
    background: var(--border);
    margin: 5rem 0;
    opacity: .7;
}

.projetos {
    padding: 4rem 0;
}

.projetos h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.8rem;
    color: var(--text-primary);
    margin-bottom: 1rem;
    text-align: center;

}

.cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;

}

.card {
    width: 350px;
    background: var(--background-secondary);
    border: 2px solid var(--border);
    border-radius: 12px;
    overflow: hidden;
    transition: .3s;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
}

.card img {
    width: calc(90% - 20px);
    margin: 20px auto;
    display: block;
    border-radius: 12px;
    height: 220px;
    object-fit: cover;
    object-position: center;
}

.card h3 {
    font-family: 'Cormorant Garamond', serif;
    color: var(--text-primary);
    padding: 1rem 1.5rem .5rem;

}

.card p {
    padding: 0 1.5rem;
}

.card a {
    display: inline-block;
    margin: 1.5rem;
    color: var(--wine);
    font-weight: 700;
    font-size: 1.1rem;
    text-shadow: 2px 2px 4px rgba(232, 222, 222, 0.5);
    text-decoration: none;
}

.moldura {
    display: inline-block;
    padding: 18px;
    background: linear-gradient(145deg, #8b5a2b, #5b3a1a);
    border: 6px solid #d4af37;
    box-shadow:
        0 8px 20px rgba(0, 0, 0, .3),
        inset 0 0 0 3px #f2d27a;
}

.moldura img {
    display: block;
    width: 280px;
    border: 2px solid #f8f1dc;
}

@media (max-width: 768px) {

    main {
        padding: 3rem 1.5rem;
        margin-left: 30px;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        gap: 2rem;
    }

    .hero-img img {
        width: 220px;
    }

    .hero-links {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .hero-social {
        justify-content: center;
        margin-top: 2rem;
    }

    main h1 {
        font-size: 1.8rem;
    }

    main h2,
    .sobre h2,
    .projetos h2 {
        font-size: 2rem;
        margin-left: 10px;
    }

    main p,
    .sobre p {
        font-size: 1.1rem;
        max-width: 100%;
        margin-left: 10px;
    }

    .sobre h2::after {
        margin: .5rem auto 0;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        margin-left: 20px;
    }

    .card {
        width: 100%;
        max-width: 350px;
    }

    .moldura img {
        width: 220px;
    }
}
