<form (submit)="cadastrarAluno($event)">
   <h1>Cadastre seus alunos</h1>
   <input type="text" placeholder="Digite o nome do aluno" [formField]="alunoForm.nome">
   @if (alunoForm.nome().touched() && alunoForm.media().invalid()) {
   @for (error of alunoForm.nome().errors(); track error.kind) {
   <span>{{error.message}}</span>
   }
   }

   <input type="number" placeholder="Digite a nota" [formField]="alunoForm.media">
   @if (alunoForm.media().touched() && alunoForm.media().invalid()) {
   @for (error of alunoForm.media().errors(); track error.kind) {
   <span>{{error.message}}</span>
   }
   }


   <button type="submit">Cadastrar Aluno</button>

   @for (aluno of alunosService.alunos(); track $index) {
      <div class="card-aluno">
   <p>{{aluno.nome}}</p>
   <p>{{aluno.media}}</p>

   @if (aluno.media! >= 9) {
   <p class="aprovado">Aprovado</p>
   <img src="images/aprovado.gif" alt="gato com rosa" width="120">
   }

   @else if (aluno.media! >= 7) {
   <p class="aprovado">Aprovado</p>
   <img src="images/aprovado.gif" alt="gato com rosa" width="120">
   }
   @else if (aluno.media! <= 6) {
      <p class="reprovado">Reprovado</p>
      <img src="images/reprovado.gif" alt="gato rindo" width="120">
   }
   @else {
      <p>Nota inválida</p>
   }
</div>

   }

</form>