header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-secondary);
    border-bottom: 2px solid var(--border);
    box-shadow: 0 2px 8px rgba(127, 85, 57, .08);
    padding: 1.2rem 4%;
}

h1 {
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2rem;
    color: var(--text-primary);
    font-weight: 600;
    margin-left: 50px;
    
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 1.2rem;
    line-height: 1.8;
    color: var(--text-secondary);
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    font-family: 'EB Garamond, serif';
    font-size: 1.15rem;
    color: var(--text-primary);
    transition: .3s;
}

nav a:hover {
    color: var(--wine);
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
    list-style: none;
}

nav a.pagina-ativa {
    color: var(--wine);
    padding: .5rem 1rem;
    border-radius: 8px;
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    h1 {
        margin: 0;
        text-align: center;
        font-size: 1.8rem;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-top: 0;
    }

    nav a {
        font-size: 1rem;
    }
}